body {
    background-color: bisque;
    min-width: 1200px;
}

button {
    padding: 6px 10px 6px 10px;

}

.navbar {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
}

.footer {
    background-color: grey;
   justify-content: center;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 300px;
    
}

footer a {
    text-decoration: none;
    color: white;
   padding-right: 5px;
   
}